<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    version     = "0.0.1" >
    <name>Castle Club Radio</name>
    <description>
        Castle club radio direct from Ayia Napa!!
    </description>
    <author email="admin@castleclub.com" href="http://castleclubradio.com">
        Castle Club Ayia Napa
    </author>
    <content src="index.html" />
    <gap:plugin name="cordova-plugin-whitelist" spec="1" source="npm" />
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" source="npm" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
