			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >
					<h3>Main Menu</h3>
					<a href="pages/pages/schedule.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-calendar"></i> Show Schedule</a>
					<a href="pages/pages/about-djs.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-star"></i> About the DJs</a>

					<hr class="inset" />

					<h3>Social</h3>
					<a href="pages/pages/facebook.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-facebook"></i> Facebook</a>
					<a href="pages/pages/twitter.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-twitter"></i> Twitter</a>
					<a href="pages/pages/youtube.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-youtube"></i> Youtube</a>
					<a href="pages/pages/interact.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-comment-text"></i> Interact</a>
			</div>
			<!-- /panel left -->
